<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django: Database</title>
  <link rel="stylesheet" href=".\css\study-notes.css">
</head>

<body>


<div class="hero-image">
  <img src=".\images\mtns.png" alt="WelcomeImg" class="Headerimage">
  <div class="Headeroverlay">
    <div class="Headertext"> </div>
  </div>
</div>


    
<div class="hero-image">
  <img src=".\images\mtns.png" alt="WelcomeImg" class="Headerimage">
  <div class="Headeroverlay">
    <div class="Headertext">Django: Database</div>
  </div>
</div>
    
    
    

<ul class="navBar">
  <li class="navBar"><a href="apis.htm" target="_blank">API's</a></li>
  <li class="navBar"><a href="Django_general.htm" target="_blank">Django: General</a></li>
  <li class="navBar"><a href="Django_Images.htm" target="_blank">Django: Images</a></li>
  <li class="navBar"><a href="Django_Database.htm" target="_blank">Django: Database</a></li>
  <li class="navBar"><a href="Django_Github.htm" target="_blank">Django: GitHub </a></li>
  <li class="navBar"><a href="Django_GoDaddy.htm" target="_blank">Django:      GoDaddy</a></li>
  <li class="navBar"><a href="VSCode.htm" target="_blank">VSCode</a></li>
</ul>



<br>
<br>
<br>
<br>
<br>
<br>


<h1 style="text-align:center;color: white;" >Django: Templates </h1>




<div class="center_pag">
  <div class="pagination">
  <a href="Django_Database.htm">&laquo;</a>
  <a href="Django_Database.htm">1</a>
  <a href="Django_Database2.htm" class="active">2</a>
  <a href="Django_Database3.htm">3</a>
  <a href="Django_Database4.htm">4</a>
  <a href="Django_Database5.htm">5</a>
  <a href="Django_Database3.htm">&raquo;</a>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates1.png" alt="Img1" style="width:100%;height:100%;">
  </div>

  <div class="column content">
    <h1 class="two"> Templates : </h1>
    <p class="one">
        <ol type='I'><b> Templates : </b> <br><br><br>
            <li style="color:green;"><b>All templates must be located in the templates folder</b></li><br>
                <ol type="i">
                  <li style="color:red;">A templates folder needs to be created</li>
                </ol>
                <br><br><br>
            <li style="color:green;"><b>Template Tags : </b></li><br>
                <ol type="i">
                  <li style="color:blue;">The {%  %} and {{  }} parts</li><br>
                  <li style="color:green;"><b>Template tags {%  %} : allows for logic in templates</b></li><br>
                  <li style="color:green;"><b>Template tags {{  }} : allows templates to render variables</b></li><br>
                </ol>
                <br><br><br>
        </ol>
    </p>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates2.png" alt="Img1" style="width:100%;height:100%;">
  </div>

  <div class="column content">
    <h1 class="two"> Modify the View : </h1>
    <p class="one">
        <ol type='I'><b> View : </b> <br><br><br>
            <li style="color:green;"><b>Change the index view to include this template </b></li><br><br>
            <li style="color:green;"><b> The index view does the following: </b></li><br>
                <ol>
                  <li style="color:blue;">Creates a mymembers object with all the values of the Members model</li><br>
                  <li style="color:blue;">Loads the index.html template</li><br>
                  <li style="color:blue;">Creates an object containing the mymember object</li><br>
                  <li style="color:blue;">Sends the object to the template</li><br>
                  <li style="color:blue;">Outputs the HTML that is rendered by the template</li>
                </ol>
        </ol>
    </P>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>
<hr>
<hr>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates3.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Adding Records : </h1>
  <p class="one">
      <ol type='I'><b> To create new members from a web page : </b> <br><br><br>
          <li style="color:green;"><b>Start by adding a link in the members template</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates4.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Adding Records : </h1>
  <p class="one">
      <ol type='I'><b> To create new members from a web page : </b> <br><br><br>
          <li style="color:green;"><b>Add a new template in the templates folder, named add.html</b></li><br>
          <li style="color:blue;">The template contains an empty HTML form with two input fields and a submit button.</li>
          <br>
          <li style="color:red;"><b>Note: Django requires this line in the form:<br>
              {% csrf_token %}<br>
              to handle Cross Site Request Forgeries in forms where the method is POST.</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates5.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Adding Records : </h1>
  <p class="one">
      <ol type='I'><b> View : </b> <br><br><br>
          <li style="color:green;"><b>Next, add a view in the members/views.py file</b></li><br>
              <ol>
                <li style="color:blue;">name the new view add</li><br>
              </ol>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates6.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Adding Records : </h1>
  <p class="one">
      <ol type='I'><b> URL's : </b> <br><br><br>
          <li style="color:green;"><b>Add a path() function in the members/urls.py file</b></li><br>
              <ol>
                <li style="color:blue;">Ensure this path points the url 127.0.0.1:8000/members/add/ to the right location</li><br>
              </ol>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>
<hr>
<hr>
<hr>




<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates4.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two">More URLs : </h1>
  <p class="one">
      <ol type='I'><b>Action attribute in the HTML form : </b> <br><br><br>
          <li style="color:green;"><b>The action attribute specifies where to send the form data</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>




<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates7.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two">More URLs : </h1>
  <p class="one">
      <ol type='I'><b>Action Attribute added to URL's : </b> <br><br><br>
          <li style="color:green;"><b>Here the form data will be sent to addrecord/</b></li><br>
          <li style="color:green;"><b>So we must add a path() function in the members/urls.py file</b></li><br>
          <li style="color:green;"><b>Ensure this path() function points to the right view</b></li><br>
      </ol>
      <br><br>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>


<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates8.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two">Code for Adding Records : </h1>
  <p class="one">
      <ol type='I'><b> To Create the view : </b> <br><br><br>
          <li style="color:green;"><b>add the addrecord view in the in the members/views.py file</b></li><br>
      </ol>
      
      <ol type='I'><b>Changes made in the views.py file : </b> <br><br><br>
          <li style="color:green;"><b>Line 1: import HttpResponseRedirect</b></li><br>
          <li style="color:green;"><b>Line 3: import reverse</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates8.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two">Code for Adding Records : </h1>
  <p class="one">
      
      <ol type='I'><b>The addrecord view does the following : </b> <br><br><br>
          <li style="color:green;"><b>Gets the first name and last name with the request.POST statement</b></li><br>
          <li style="color:green;"><b>Adds a new record in the members table</b></li><br>
          <li style="color:green;"><b>Redirects the user back to the index view</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>
<hr>
<hr>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates9.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Deleting Records : </h1>
  <p class="one">
      
      <ol type='I'><b>To delete a record we do not need a new template : </b> <br><br><br>
          <li style="color:green;"><b>We just need to make some changes to the members template</b></li><br>
          <li style="color:green;"><b>Of course, you can customize a delete option, but in this example, we'll add a "delete" link for each record in a new table column.</b></li><br>
          <li style="color:green;"><b>The "delete" link also contains the ID of each record</b></li><br>
      </ol>
    
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>





<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates9.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Deleting Records : </h1>
  <p class="one">
      
      <ol type='I'><b> Modify Index Template : </b> <br><br><br>
          <li style="color:green;"><b>Add a "delete" column in the members template</b></li><br>
          <li style="color:green;"><b>So a "delete" link shows up for each ID of each record</b></li><br>
      </ol>
    
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>





<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates10.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Deleting Records : </h1>
  <p class="one">
      
      <ol type='I'><b> URLs : </b> <br><br><br>
          <li style="color:green;"><b>The "delete" link in the HTML table points to 127.0.0.1:8000/members/delete/</b></li><br>
          <li style="color:green;"><b>So we add a path() function in the members/urls.py file</b></li><br>
              <ol type='I'>
                  <li style="color:green;"><b>with the ID as a parameter</b></li><br>
              </ol>
          <li style="color:green;"><b>Ensure this path() function points the url to the right location, </b></li><br>
      </ol>
    
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates11.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Deleting Records : </h1>
  <p class="one">
      
      <ol type='I'><b>Code for Deleting Records : </b> <br><br><br>
          <li style="color:green;"><b>we need to add a new view called delete in the members/views.py file</b></li><br>
      </ol>
    
    <br><br><br>
    
        <ol type='I'><b>  The delete view does the following : </b> <br><br><br>
            <li style="color:green;"><b>Gets the id as an argument</b></li><br>
            <li style="color:green;"><b>Uses the id to locate the correct record in the Members table</b></li><br>
            <li style="color:green;"><b>Deletes that record </b></li><br>
            <li style="color:green;"><b>Redirects the user back to the index view</b></li><br>
        </ol>
    
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates19.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Deleting Records : </h1>
  <p class="one">
      
      <b>The result will look like this </b>
 
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>
<hr>
<hr>
<hr>





<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates12.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <ol type='I'><b> To update a record : </b> <br><br><br>
          <li style="color:green;"><b>we need the ID of the record </b></li><br>
          <li style="color:green;"><b>we need a template with an interface that let us change the values</b></li><br>
      </ol>
      
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>




<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates12.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <ol type='I'><b> To update a record : </b> <br><br><br>
          <li style="color:green;"><b>First we start by making some changes in the index.html template </b></li><br>
          <li style="color:green;"><b>Start by adding a link for each member in the table</b></li><br>
      </ol>
      
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>


<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates20.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <b>The result will look like this </b>
 
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates13.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <ol type='I'><b> View : </b> <br><br><br>
          <li style="color:green;"><b>add the update view in the members/views.py file </b></li>
      </ol>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <ol type='I'><b> The update view does the following : </b> <br><br><br>
          <li style="color:green;"><b>Gets the id as an argument</b></li><br>
          <li style="color:green;"><b>Uses the id to locate the correct record in the Members table</b></li><br>
          <li style="color:green;"><b>loads a template called update.html</b></li><br>
          <li style="color:green;"><b>Creates an object containing the member</b></li><br>
          <li style="color:green;"><b>Sends the object to the template</b></li><br>
          <li style="color:green;"><b>Outputs the HTML that is rendered by the template</b></li><br>
      </ol>
      
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>





<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates14.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <ol type='I'><b> New Template : </b> <br><br><br>
          <li style="color:green;"><b>Add a new template in the templates folder, named update.html</b></li><br>
          <li style="color:green;"><b>The template contains an HTML form with the values from the selected member</b></li><br>
          <br>
          <li style="color:red;"><b>Note: Django requires this line in the form:<br>
              {% csrf_token %}<br>
              to handle Cross Site Request Forgeries in forms where the method is POST.</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates15.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <ol type='I'><b> URLs : </b> <br><br><br>
          <li style="color:green;"><b>Add a path() function in the members/urls.py file : </b></li><br>
              <ol>
                  <li style="color:green;"><b>with the ID as a parameter</b></li><br>
                  <li style="color:green;"><b>Ensure the path() function points <br> the url 127.0.0.1:8000/members/update/ <br>to the right location</b></li><br>
              </ol>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>


<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates21.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      <br><br><br>
      <b>Click the ID of the member you want to change</b>
      <br>
      <br><br>
      <b>The result will look like this </b>
 
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates16.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <ol type='I'><b> What Happens on Submit : </b> <br><br><br>
          <li style="color:green;"><b>Did you notice the action attribute in the HTML form </b></li><br>
              <ol>
                  <li style="color:green;"><b>The action attribute specifies where to send the form data</b></li><br>
                  <li style="color:green;"><b>in this case the form data will be sent to:<br><br>
                      updaterecord/{{ mymember.id }}</b></li><br>
              </ol>
          <li style="color:green;"><b>so we must add a path() function in the members/urls.py file that points to the right view</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>



<h1 class="two"> Code for Updating Records </h1>


<div class="img-container">
    <img src=".\images\dtb_imgs\templates16.png" alt="Img1" style="width:100%;height:100%;">
</div>
  

<div class="img-container">
    <img src=".\images\dtb_imgs\templates17.png" alt="Img1" style="width:100%;height:600px">
</div>




<div class="img-container">
    <img src=".\images\dtb_imgs\templates18.png" alt="Img1" style="width:100%;height:600px">
</div>

      

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>


<div class="clearfix">
  <br><br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates18.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      
      <ol type='I'><b> Code for Updating Records : </b> <br><br><br>
          <li style="color:green;"><b>Make sure you add the updaterecord view in the in the members/views.py file</b></li><br>
      </ol>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>


<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates20.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      <br><br><br>
      <b>The updaterecord function will update the record in the members table with the selected ID</b>
      <br>
      <br><br>
      <b>The result will look like this </b>
 
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>


<div class="clearfix">
  <br><br>
  <div class="img-container">
    <img src=".\images\dtb_imgs\templates21.png" alt="Img1" style="width:100%;height:100%;">
  </div>

<div class="column content">
  <h1 class="two"> Updating Records : </h1>
  <p class="one">
      <br><br>
      <b>Try to update a record</b>
      <br>
      <br><br>
      <b>The result will look like this </b>
      <br>
      <br><br>
      <b>If you press the submit button, the members table should have been updated </b>
  </p>
</div>
</div>


<br>
<br>
<br>
<br>
<br>
<hr>





<br>
<br>
<br>
<br>
<br>
<hr>

<div class="center_pag">
  <div class="pagination">
  <a href="Django_Database.htm">&laquo;</a>
  <a href="Django_Database.htm">1</a>
  <a href="Django_Database2.htm" class="active">2</a>
  <a href="Django_Database3.htm">3</a>
  <a href="Django_Database4.htm">4</a>
  <a href="Django_Database5.htm">5</a>
  <a href="Django_Database3.htm">&raquo;</a>
  </div>
</div>

<br>
<br>
<br>
<br>

<hr>

<br><br><br><br><br><br>

<div class="footer">
  <p>Footer Text</p>
</div>

</body>

</html>
